.outer-container{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
    width: 65%;
    gap: 5rem;
}

.about-me{
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.about-me h1{
    font-size: 4rem;
}

.about-me h3{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.know-me{
    grid-column-start: 1;
    grid-column-end: 3;
}

.know-me h2{
    font-size: 3rem;
}

.know-me p{
    font-size: 1.5rem;
}

.my-skills{
    grid-column-start: 3;
    grid-column-end: 5;
}

.my-skills h2{
    font-size: 3rem;
}

.skillset{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.my-skills p{
    margin: 0;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 1rem 2rem;
    background-color: lightgray;
}