.container{
    height: 90vh;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.container-light{
    color: black;    
    background-color: white;
    background-image: url("./light.svg");
}

.container-dark{
    background-color: black;
    background-image: url("./dark.svg");
    color: white;
}

.inner-container{
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container h1{
    font-size: 6rem;
}

.inner-container h2{
    font-size: 3rem;
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 4rem;
}