.outer-container{ }

.project-light{
    color: black;    
}

.project-dark{
    color: white;    
}

.header{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.header h1{
    font-size: 4rem;
}

.header h3{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;
}

.projects{
    display: flex;
    flex-wrap: wrap;     
    gap: 5rem;
    justify-content: space-evenly;
}

@media (max-width: 700px){
    .projects{
        gap: 2rem;
    }
}

.project-container{
    padding: 1rem;
    width: 30%;
    min-height: 30rem; 
    background-color: gray;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    border-radius: 1rem;
    user-select: none;
}

.project-container:hover{
    transform: scale(1.2);
}

.project-container:hover img{
    filter: grayscale(0%);
}

.project-container h2{
    margin: 0.2rem 0 0.5rem 0;
}

.project-container p{
    margin: 0.5rem;
}
                
.project-description{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.links{
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.project-container:hover .links{
    opacity: 1;
}

.links a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
}

.links a:hover{
    background-color: midnightblue;
    color: white;
}

.project-container img{
    border-radius: 1rem;
    width: auto;
    height: auto;
    filter: grayscale(100%);
    transition: 0.4s ease-in;
    margin-bottom: 1rem;
}