.container{
    padding: 18%;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

@media (max-width: 1400px){
    .container{
        padding: 18%;
    }
}

@media (max-width: 900px){
    .container{
        padding: 8%;
    }
}
